<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WR</title>
    <link rel="stylesheet" href="static/css/cities.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <div class="map">
        <iframe src="https://maps.google.com/" 
            width="1000" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div> -->
    <div class="select-container">
        <select name="countries">
            <option value='AF'>Afghanistan</option>
            <option value='AL'>Albania</option>
            <option value='AL'>Algeria</option>
            <option value='AN'>Andorra</option>
            <option value='AN'>Angola</option>
            <option value='AN'>Antigua & Deps</option>
            <option value='AR'>Argentina</option>
            <option value='AR'>Armenia</option>
            <option value='AU'>Australia</option>
            <option value='AU'>Austria</option>
            <option value='AZ'>Azerbaijan</option>
            <option value='BA'>Bahamas</option>
            <option value='BA'>Bahrain</option>
            <option value='BA'>Bangladesh</option>
            <option value='BA'>Barbados</option>
            <option value='BE'>Belarus</option>
            <option value='BE'>Belgium</option>
            <option value='BE'>Belize</option>
            <option value='BE'>Benin</option>
            <option value='BH'>Bhutan</option>
            <option value='BO'>Bolivia</option>
            <option value='BO'>Bosnia Herzegovina</option>
            <option value='BO'>Botswana</option>
            <option value='BR'>Brazil</option>
            <option value='BR'>Brunei</option>
            <option value='BU'>Bulgaria</option>
            <option value='BU'>Burkina</option>
            <option value='BU'>Burundi</option>
            <option value='CA'>Cambodia</option>
            <option value='CA'>Cameroon</option>
            <option value='CA'>Canada</option>
            <option value='CA'>Cape Verde</option>
            <option value='CE'>Central African Rep</option>
            <option value='CH'>Chad</option>
            <option value='CH'>Chile</option>
            <option value='CH'>China</option>
            <option value='CO'>Colombia</option>
            <option value='CO'>Comoros</option>
            <option value='CO'>Congo</option>
            <option value='CO'>Congo {Democratic Rep}</option>
            <option value='CO'>Costa Rica</option>
            <option value='CR'>Croatia</option>
            <option value='CU'>Cuba</option>
            <option value='CY'>Cyprus</option>
            <option value='CZ'>Czech Republic</option>
            <option value='DE'>Denmark</option>
            <option value='DJ'>Djibouti</option>
            <option value='DO'>Dominica</option>
            <option value='DO'>Dominican Republic</option>
            <option value='EA'>East Timor</option>
            <option value='EC'>Ecuador</option>
            <option value='EG'>Egypt</option>
            <option value='EL'>El Salvador</option>
            <option value='EQ'>Equatorial Guinea</option>
            <option value='ER'>Eritrea</option>
            <option value='ES'>Estonia</option>
            <option value='ET'>Ethiopia</option>
            <option value='FI'>Fiji</option>
            <option value='FI'>Finland</option>
            <option value='FR'>France</option>
            <option value='GA'>Gabon</option>
            <option value='GA'>Gambia</option>
            <option value='GE'>Georgia</option>
            <option value='GE'>Germany</option>
            <option value='GH'>Ghana</option>
            <option value='GR'>Greece</option>
            <option value='GR'>Grenada</option>
            <option value='GU'>Guatemala</option>
            <option value='GU'>Guinea</option>
            <option value='GU'>Guinea-Bissau</option>
            <option value='GU'>Guyana</option>
            <option value='HA'>Haiti</option>
            <option value='HO'>Honduras</option>
            <option value='HU'>Hungary</option>
            <option value='IC'>Iceland</option>
            <option value='IN'>India</option>
            <option value='IN'>Indonesia</option>
            <option value='IR'>Iran</option>
            <option value='IR'>Iraq</option>
            <option value='IR'>Ireland {Republic}</option>
            <option value='IS'>Israel</option>
            <option value='IT'>Italy</option>
            <option value='IV'>Ivory Coast</option>
            <option value='JA'>Jamaica</option>
            <option value='JA'>Japan</option>
            <option value='JO'>Jordan</option>
            <option value='KA'>Kazakhstan</option>
            <option value='KE'>Kenya</option>
            <option value='KI'>Kiribati</option>
            <option value='KO'>Korea North</option>
            <option value='KO'>Korea South</option>
            <option value='KO'>Kosovo</option>
            <option value='KU'>Kuwait</option>
            <option value='KY'>Kyrgyzstan</option>
            <option value='LA'>Laos</option>
            <option value='LA'>Latvia</option>
            <option value='LE'>Lebanon</option>
            <option value='LE'>Lesotho</option>
            <option value='LI'>Liberia</option>
            <option value='LI'>Libya</option>
            <option value='LI'>Liechtenstein</option>
            <option value='LI'>Lithuania</option>
            <option value='LU'>Luxembourg</option>
            <option value='MA'>Macedonia</option>
            <option value='MA'>Madagascar</option>
            <option value='MA'>Malawi</option>
            <option value='MA'>Malaysia</option>
            <option value='MA'>Maldives</option>
            <option value='MA'>Mali</option>
            <option value='MA'>Malta</option>
            <option value='MA'>Marshall Islands</option>
            <option value='MA'>Mauritania</option>
            <option value='MA'>Mauritius</option>
            <option value='ME'>Mexico</option>
            <option value='MI'>Micronesia</option>
            <option value='MO'>Moldova</option>
            <option value='MO'>Monaco</option>
            <option value='MO'>Mongolia</option>
            <option value='MO'>Montenegro</option>
            <option value='MO'>Morocco</option>
            <option value='MO'>Mozambique</option>
            <option value='MY'>Myanmar, {Burma}</option>
            <option value='NA'>Namibia</option>
            <option value='NA'>Nauru</option>
            <option value='NE'>Nepal</option>
            <option value='NE'>Netherlands</option>
            <option value='NE'>New Zealand</option>
            <option value='NI'>Nicaragua</option>
            <option value='NI'>Niger</option>
            <option value='NI'>Nigeria</option>
            <option value='NO'>Norway</option>
            <option value='OM'>Oman</option>
            <option value='PA'>Pakistan</option>
            <option value='PA'>Palau</option>
            <option value='PA'>Panama</option>
            <option value='PA'>Papua New Guinea</option>
            <option value='PA'>Paraguay</option>
            <option value='PE'>Peru</option>
            <option value='PH'>Philippines</option>
            <option value='PO'>Poland</option>
            <option value='PO'>Portugal</option>
            <option value='QA'>Qatar</option>
            <option value='RO'>Romania</option>
            <option value='RU'>Russian Federation</option>
            <option value='RW'>Rwanda</option>
            <option value='ST'>St Kitts & Nevis</option>
            <option value='ST'>St Lucia</option>
            <option value='SA'>Saint Vincent & the Grenadines</option>
            <option value='SA'>Samoa</option>
            <option value='SA'>San Marino</option>
            <option value='SA'>Sao Tome & Principe</option>
            <option value='SA'>Saudi Arabia</option>
            <option value='SE'>Senegal</option>
            <option value='SE'>Serbia</option>
            <option value='SE'>Seychelles</option>
            <option value='SI'>Sierra Leone</option>
            <option value='SI'>Singapore</option>
            <option value='SL'>Slovakia</option>
            <option value='SL'>Slovenia</option>
            <option value='SO'>Solomon Islands</option>
            <option value='SO'>Somalia</option>
            <option value='SO'>South Africa</option>
            <option value='SO'>South Sudan</option>
            <option value='SP'>Spain</option>
            <option value='SR'>Sri Lanka</option>
            <option value='SU'>Sudan</option>
            <option value='SU'>Suriname</option>
            <option value='SW'>Swaziland</option>
            <option value='SW'>Sweden</option>
            <option value='SW'>Switzerland</option>
            <option value='SY'>Syria</option>
            <option value='TA'>Taiwan</option>
            <option value='TA'>Tajikistan</option>
            <option value='TA'>Tanzania</option>
            <option value='TH'>Thailand</option>
            <option value='TO'>Togo</option>
            <option value='TO'>Tonga</option>
            <option value='TR'>Trinidad & Tobago</option>
            <option value='TU'>Tunisia</option>
            <option value='TU'>Turkey</option>
            <option value='TU'>Turkmenistan</option>
            <option value='TU'>Tuvalu</option>
            <option value='UG'>Uganda</option>
            <option value='UK'>Ukraine</option>
            <option value='UN'>United Arab Emirates</option>
            <option value='UN'>United Kingdom</option>
            <option value='UN'>United States</option>
            <option value='UR'>Uruguay</option>
            <option value='UZ'>Uzbekistan</option>
            <option value='VA'>Vanuatu</option>
            <option value='VA'>Vatican City</option>
            <option value='VE'>Venezuela</option>
            <option value='VI'>Vietnam</option>
            <option value='YE'>Yemen</option>
            <option value='ZA'>Zambia</option>
            <option value='ZI'>Zimbabwe</option>
        </select>
    </div>
        
</body>
</html>