<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WR</title>

    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main-text">
        <p style="letter-spacing: 1em;">WORLD</p>
        <p style="letter-spacing: 0.98em;">ROUND</p>
    </div>

    <div class="cities">
        <a href="cities.html">CITIES</a>
    </div>

    <div class="countries">
        <a href="countries.html">COUNTRIES</a>
    </div>

    <div class="people">
        <a href="people.html">PEOPLE</a>
    </div>  
</body>
</html>