body{
    background-image:  url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: right;
}

nav{
    position: relative;
    background-color: #000000;
    left: 0rem;
    top: -1rem;
    height: 5rem;
    width: 100%;

}

a {
    position: relative;
    color: #000000; 
    cursor: pointer;
    line-height: 1; 
    text-decoration: none;             
}

a:after {
    display: block;
    position: absolute;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: #000000; 
    content: "";
    transition: width 0.8s ease-out; 
}

a:hover:after,
a:focus:after {
    width: 100%; 
}

.main-text{
    font-size: 13rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 52.5%;
    top: 50%;
    line-height: 70px;
    color: rgb(247, 248, 248);
    font-weight: 400;
    font-family: 'Gruppo', sans-serif;
}

.explore{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    top: 50px;
    left: 90px;
}

.login{
    position: absolute;
    top: 50px;
    left: 460px;
    width: 10rem;
    font-size: 2.5rem;
    background-color: #ffffff;
    border-radius: 2rem;
    border: 0.2rem solid rgb(0, 0, 0);  
    font-family: 'Roboto', sans-serif;
}

.signup{
    position: absolute;
    top: 50px;
    left: 900px; 
    width: 10rem;
    font-size: 2.5rem;
    background-color: #ffffff;
    border-radius: 2rem;
    border: 0.2rem solid rgb(0, 0, 0);    
    font-family: 'Roboto', sans-serif; 
}

.cookie-container{
    position: absolute;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    top: 46.5rem;
    left: 0rem;
    display: flex;
    border-top: 0.3rem solid rgb(0, 0, 0);
    width: 100%;
    height: 14rem;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.cookie{
    position: relative;
    padding-right: 1rem;
    left: 1rem;
    top: 2rem;
}

.cookie-title{
    position: relative;
    font-size: 2rem;
    padding: 0rem 0.5rem;
    left: 1.5rem;
}

.cookie-subtitle{
    position: relative;
    font-size: 1rem;
    padding: 0rem 0.5rem;
    left: 1.5rem;
}

.cookie-container button{
    position: relative;
    background-color: #000000;
    color: white;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 2rem;
    left: 1.5rem;
    transition-duration: 0.8s;
}

.cookie-container button:hover{
    background-color: #e7e7e7;
    color: rgb(0, 0, 0);
}
